<div id="page">
  <div id="content">
    <div>
     <h1><% title %></h1>
    
     <p>
       <% content %>
     </p>

     <p>
       Get from: <a href="<% url %>"><% url %></a> (<% date %>)
     </p>
    </div>
  </div>
</div>
