<% USE Dumper %>
<form action="/search" method="post">
  <input type="text" size="45" name="query" id="query" />
  <input type="submit" value="Search!" />
</form>

<% Dump(hits) %>
<% IF hits %>
    <div>
      <ul>
<% FOREACH link IN hits %>
        <li><a href="/view/<% link.id %>"><% link.title %></a></li>
<% END %>
      </ul>
    </div>

<% END %>
<hr />
